<div class="row reset-padding">
  <div class="content-wrapper" id="rule-content">
    <div class="header-wrapper">
      <h4>
        Edit Purchase Order
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="pl30 pr30 mt0">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>