<%= render 'shared/modal_header', modal_title: 'History Detail' %>
<div class="modal-body">
  <%= render 'attendances_table' %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default reset-border-radius" data-dismiss="modal">Close</button>
</div>