<div class="row toggleable-container reset-padding">
  <%= render 'shared/toggleable_sidebar', sidebar_menu: @employee.sidebar_menu_generator %>
  <div class="main-content content-body-wrapper">
    <div class="content-bodyx content-body-border mt20 clearfix" id="employee-profile-content">
      <%= render 'employees/attendances_info' %>
    </div>
  </div>
</div>
<% if @edit_modal.present? %>
    <script type="text/javascript">
        $(function () {
            $('#global-modal-large').modal({backdrop: 'static', keyboard: false});
            $('#global-modal-large').modal('show').find('.modal-content').html("<%= escape_javascript(render 'form').html_safe %>");
        });
    </script>
<% end %>
<script type="text/javascript">
    $(function () {
        $('.sidebar-menu-active').removeClass('sidebar-menu-active');
        $('.attendance').addClass('sidebar-menu-active');
        var options = {
            locale: {
                format: 'DD-MM-YYYY',
                separator: '  To  '
            }
        };
    });
</script>