<!--<div class="row toggleable-container reset-padding">-->
<!--<%#= render 'shared/toggleable_sidebar', sidebar_menu: @employee.sidebar_menu_generator %>-->
<!--<div class="main-content content-body-wrapper">-->
<!--<div class="content-body clearfix" id="employee-profile-content">-->
<!--<%#= render 'employees/edit_info' %>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<script type="text/javascript">-->
    alert('Here');
    //    $(function () {
    //        var options = {
    //            locale: {
    //                format: 'DD-MM-YYYY',
    //                separator: '  To  '
    //            }
    //        };
    //    });
<!--</script>-->
