<li class="top-menu-dropdown">
  <a href="#">
    Stock <span class="caret"></span>
  </a>
  <ul class="top-menu-dropdown-content dropdown-large">
    <li>
      <%= link_to 'Product Stock', pos_stocks_path %>
    </li>
    <li>
      <%= link_to 'Stock Location', '#' %>
    </li>
  </ul>
</li>