<div class="row reset-padding">
  <div class="content-wrapper" id="rule-content">
    <div class="header-wrapper">
      <h4>
        Edit Expense Group
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="text-centerx table-cell">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>