<li class="top-menu-dropdown">
  <a href="#">
    Customer <span class="caret"></span>
  </a>
  <ul class="top-menu-dropdown-content dropdown-large">
    <li>
      <%= link_to 'Customer List', pos_customers_path %>
    </li>
    <li>
      <%= link_to 'Invoices', pos_customers_invoices_path %>
    </li>
    <li>
      <%= link_to 'Payments', pos_customers_payments_path %>
    </li>
  </ul>
</li>