<!-- Only for form-wizard large modal -->
<div class="modal fade bs-example-modal-lg" id="global-modal-large" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-body">

    </div>
  </div>
</div>

<!-- New large modal -->
<div class="new-modal-wrap modal fade bs-example-modal-lg" id="global-modal-large-new" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-body">

    </div>
  </div>
</div>

<!-- Medium modal -->
<div class="new-modal-wrap modal fade" id="global-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content modal-body">

    </div>
  </div>
</div>

<!-- Small modal -->
<div class="new-modal-wrap modal fade bs-example-modal-lg" id="global-modal-small" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content modal-body">

    </div>
  </div>
</div>

<div id="attachment-wrapper" class="attachment-preview">
  <span class="attachment-close">&times;</span>
  <div id="attachment-content"></div>
</div>
