<footer class="registration-footer-wrapper">
  <div class="container">
      <div class="footer-items reset-padding">
        <div class="col-sm-3 col-md-3">
            <%= link_to root_path do %>
                <%= image_tag('beaccount_white_logo.png', width: 62, class: 'pt7') %>
            <% end %>
        </div>
        <div class="col-sm-6 col-md-6 copy-right-resigtration-footer">
            <span>Be</span>quent | © <%= Date.today.year %>
            <a href="http://syftet.com/" target="_blank" class="primary-link-style">Syftet</a>, All rights reserved
        </div>
        <div class="col-sm-3 col-md-3">
          <ul class="social-share">
            <li>
              <a target="_blank" href="https://twitter.com/becuent">
                <i aria-hidden="true" class="fa fa-twitter fa-2x"></i>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://www.facebook.com/bequent/">
                <i aria-hidden="true" class="fa fa-facebook fa-2x"></i>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://www.linkedin.com/company/bequent">
                <i aria-hidden="true" class="fa fa-linkedin fa-2x"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
  </div>
</footer>
