<div class="row reset-padding">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h4>
        Create New Department. <%= link_to 'Back to list', departments_companies_path, class: 'link' %>
      </h4>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="text-centerx table-cell">
        <%= render 'form_new' %>
      </div>
    </div>
  </div>
</div>