<li class="top-menu-dropdown">
  <a href="#">
    Attendance <span class="caret"></span>
  </a>
  <ul class="top-menu-dropdown-content dropdown-large">
    <li>
      <%= link_to 'Dashboard', attendance_dashboard_path %>
    </li>
    <li>
      <%= link_to 'Attendances', attendance_attendances_path %>
    </li>
    <li>
      <%= link_to 'History', history_attendance_attendances_path %>
    </li>
  </ul>
</li>