<ul id="tab" class="nav nav-tabs" data-tabs="tabs">
  <li data-toggle="tab" class="nav-item active">
    <a href="#feature">Feature</a>
  </li>
  <li data-toggle="tab" class="nav-item">
    <a href="#general">General</a>
  </li>
  <li data-toggle="tab" class="nav-item">
    <a href="#attendance">Attendance</a>
  </li>
  <li data-toggle="tab" class="nav-item">
    <a href="#leave">Leave</a>
  </li>
</ul>