// Place all the styles related to the provident_fund/investments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.provident-fund-investment-form {
  max-width: 600px;
  margin: auto;
  .popover {
    max-width: 400px;
  }
}