<li class="top-menu-dropdown">
  <a href="#">
    Expense <span class="caret"></span>
  </a>
  <ul class="top-menu-dropdown-content dropdown-large">
    <li>
      <%= link_to 'Groups', expenses_groups_path %>
    </li>
    <li>
      <%= link_to 'Categories', expenses_categories_path %>
    </li>
    <li>
      <%= link_to 'Expenses', expenses_path %>
    </li>
  </ul>
</li>