<li class="top-menu-dropdown">
  <a href="#">
    Sales <span class="caret"></span>
  </a>
  <ul class="top-menu-dropdown-content dropdown-large">
    <li>
      <%= link_to 'Daily Sales', '#' %>
    </li>
  </ul>
</li>