<% if @sub_category.errors.any? %>
popupMessage('<%= escape_javascript( errors_to_message_string(@sub_category.errors)).html_safe %>', 'error');
<% else %>
$("#pos_product_sub_category_id").append("<option value=<%= @sub_category.id %>> <%= @sub_category.name %></option>");
$('#pos_product_sub_category_id').trigger("chosen:updated");
$('#global-modal').modal('hide');
popupMessage('Sub-Category saved successfully.', 'success');
<% end %>