<li class="top-menu-dropdown">
  <a href="#">
    Employee <span class="caret"></span>
  </a>
  <ul class="top-menu-dropdown-content dropdown-large">
    <li>
      <%= link_to 'Employees', employees_path %>
    </li>
    <li>
      <%= link_to 'Access Rights', access_rights_employees_path %>
    </li>
  </ul>
</li>