<%= render 'shared/modal_header', modal_title: "Stock History" %>
<div class="modal-body">
  <%= render 'shared/no_data_found', message: 'Coming Soon' %>
</div>

<div class="modal-footer">
  <div class="pull-right">
    <div class="btn btn-default" data-dismiss='modal'>Cancel</div>
  </div>
</div>