<li class="top-menu-dropdown">
  <a href="#">
    Bank <span class="caret"></span>
  </a>
  <ul class="top-menu-dropdown-content dropdown-large">
    <li>
      <%= link_to 'Accounts', bank_accounts_path %>
    </li>
  </ul>
</li>