// Place all the styles related to the pos/customers/payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.customer-details-fieldset, .supplier-details-fieldset {
  border: solid 1px silver;
  padding: 10px;
  legend {
    width: auto;
    margin: 0;
    border: none;
    padding: 0 5px;
  }
  p.customer-address {
    padding: 5px;
    border: solid 1px silver;
    min-height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  select {
    min-width: 350px;
  }

  .credit-text {
    display: inline-block;
    min-width: 140px;
  }
}

.process-invoice-list {
  tfoot {
    tr {
      th {
        border: none;
      }
    }
  }
  table {
    margin: 0;
    .table-input {
      background: transparent;
      border: none;
      min-width: 50px;
    }
  }
}

.action-process-action {
  background: #1397C4;
  padding: 5px;
  display: none;
}

.advance-payment {
  display: none;
  color: white;
  vertical-align: -moz-middle-with-baseline;
}
.advance-invoice-list {
  padding: 5px;
}

.select-default {
  display: block;
  label {
    font-weight: normal;
  }
}

#print-voucher {
  width: 800px;
  font-family: 'Helvetica Neue';
  .print-voucher-form {
    border: solid 1px black;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding: 10px;
  }
  .main-logo {
    width: 95px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: top;
  }
  .company-details {
    width: calc(100% - 340px);
    display: inline-block;
    vertical-align: top;
  }
  .department-logo {
    width: 215px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: top;
    img {
      max-height: 80px;
      max-width: 100%;
    }
  }
  .sl-no, .amount-no {
    width: 110px;
  }
  .credit-voucher {
    font-family: 'Helvetica';
  }
  .signatory-wrapper {
    div.signatory {
      border-top: dotted 1px #CCCCCC;
      max-width: 200px;
    }
  }
  .signature {
    height: 50px;
  }
  .printed-by {
    margin-top: 5px;
    margin-right: 5px;
    font-size: 12px;
  }
}

.print-voucher-action {
  width: 900px;
  //margin: auto;
  margin-top: 50px;
  .print {
    display: none;
  }
}

.right-aligned {
  text-align: right;
}

//.commission-input {
//  -moz-border-bottom-colors: none;
//  -moz-border-left-colors: none;
//  -moz-border-right-colors: none;
//  -moz-border-top-colors: none;
//  background-attachment: scroll;
//  background-clip: border-box;
//  background-color: transparent;
//  background-image: none;
//  background-origin: padding-box;
//  background-position: 0 0;
//  background-repeat: repeat;
//  background-size: auto auto;
//  border-bottom-color: -moz-use-text-color;
//  border-bottom-style: none;
//  border-bottom-width: medium;
//  border-image-outset: 0 0 0 0;
//  border-image-repeat: stretch stretch;
//  border-image-slice: 100% 100% 100% 100%;
//  border-image-source: none;
//  border-image-width: 1 1 1 1;
//  border-left-color: -moz-use-text-color;
//  border-left-style: none;
//  border-left-width: medium;
//  border-right-color: -moz-use-text-color;
//  border-right-style: none;
//  border-right-width: medium;
//  border-top-color: -moz-use-text-color;
//  border-top-style: none;
//  border-top-width: medium;
//  min-width: 50px;
//}