<li class="top-menu-dropdown">
  <a href="#">
    Supplier <span class="caret"></span>
  </a>
  <ul class="top-menu-dropdown-content dropdown-large">
    <li>
      <%= link_to 'Suppliers', pos_suppliers_path %>
    </li>
    <li>
      <%= link_to 'Purchase Orders', pos_suppliers_purchases_path %>
    </li>
    <li>
      <%= link_to 'Payments', pos_suppliers_payments_path %>
    </li>
  </ul>
</li>