// Place all the styles related to the Attendances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.attendance-top-margin {
  margin-top: 20px;
}

.attendance-report-item {
  position: relative;
  .pop-report-item {
    background: #fdfdfd none repeat scroll 0 0;
    border: 1px solid #222;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 1px 7px #aaaaaa;
    -moz-box-shadow: 2px 1px 7px #aaaaaa;
    box-shadow: 2px 1px 7px #aaaaaa;
    display: none;
    padding: 10px;
    position: absolute;
    right: -7px;
    text-align: left;
    top: 5px;
    width: 200px;
    z-index: 99999999;
  }
  .att-details-ind {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    &:after {
      position: absolute;
      content: '';
      border-width: 5px;
      border-style: solid;
      border-color: #1A7791 #1A7791 transparent transparent;
    }
    &:hover {
      .pop-report-item {
        display: block;
      }
    }
  }
}

.attendance-report-table {
  tbody {
    tr {
      td {
        &:first-child {
          min-width: 150px;
        }
      }
    }
  }
}

.attendance-report-link {
  padding-left: 10px;
}

.attendance-report-search-form {
  text-align: left;
  //margin: 10px 0;
  input, select, .chosen-container {
    max-width: 220px;
    display: inline-block;
  }
}

.attendance-table {
  thead {
    tr {
      th {
        min-width: 75px;
      }
    }
  }
  tbody {
    tr {
      td {
        min-width: 75px;
      }
    }
  }
}

.attendance-state-report-table {
  width: 100%;
  tr {
    td {
      padding: 10px;
    }
  }
}

@media (max-width: 767px) {
  .employee-attendance-state {
    .pull-left {
      float: none !important;
    }

    .pull-right {
      float: none !important;
    }
  }
}