#employee-card {
  font-family: 'Helvetica Neue';
  width: 642px;
  //margin: auto;
  //border: solid 1px #CCCCCC;
  .card-info {
    height: 330px;
    border: solid 1px
  }

  .card-fornt {
    margin: 10px;
    float: left;
    width: 300px;
    height: 405px;
  }

  .card-back {
    margin: 10px;
    border: solid 1px;
    float: left;
    width: 300px;
    height: 405px;
  }
  .card-footer {
    height: 75px;
    background: #10218B;
    padding: 2px 10px;
    color: #fdfdfd;
    font-size: 11.5px;
  }
  .company-name {
    margin: 5px 0;
    text-align: center;
    font-family: fantasy;
    font-size: 18px;
  }
  .company-logo {
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .card-icon-image {
    background-image: image-url('card_icon.png');
    padding-top: 37px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    .emp-image {
      width: 79px;
      height: 79px;
      -webkit-border-radius: 20px 0 20px 0;
      -moz-border-radius: 20px 0 20px 0;
      border-radius: 20px 0 20px 0;
      border: solid 2px #1F7140;
      margin: auto auto 4px;
    }
  }
  .emp-name {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }
  .auth-sign {
    margin-left: 10px;
    width: 146px;
    font-size: 12px;
  }
  .employee-id {
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 0;
  }

  .employee-info {
    padding-top: 28px;
    ul {
      padding: 10px;
    }
    li {
      list-style: none;
      font-size: 13px;
    }
  }

  .terms-condition {
    padding-bottom: 0;
    font-size: 13px;
    ul {
      margin-bottom: 0px;
      list-style: none;
      padding-left: 10px;
      li {
        padding-bottom: 10px;
      }
    }
    .list-icone {
      display: inline-block;
      vertical-align: top;
      //width: 5%;
    }
    .condition {
      width: 92%;
      display: inline-block;
    }
  }
  .department-info {
    padding-left: 10px;
  }
}

// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//#card {
//  width: 400px;
//}

.card-infoxxx {
  width: 355px;
  height: 200px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 2px #cccccc;
  -moz-box-shadow: 1px 1px 2px #cccccc;
  box-shadow: 1px 1px 2px #cccccc;
  margin-bottom: 10px;
  padding: 10px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'Lucida Grande';
  position: relative;
  .card-logo {
    margin-top: -14px;
    max-height: 86px;
    max-width: 240px;
    opacity: 0.7;
  }
  .exp {
    line-height: 17px;
  }
  .exp-date {
    margin-left: 8px;
    //font-size: 22px;
  }
  .name {
    font-size: 22px;
    text-shadow: 1px 2px 3px #dfdfdf;
  }
  .barcode {
    width: 100%;
  }

  .back-image {
    left: 50px;
    max-height: 59%;
    max-width: 59%;
    opacity: 0.3;
    position: absolute;
    top: 50px;
  }

  .main-logo {
    width: 80px;
  }

  .tnc {
    font-size: 10px;
    font-style: italic;
    line-height: 14px;
    text-align: justify;
  }

  .auth-sign {
    font-size: 11px;
    margin-top: 17px;
    width: 146px;
  }
  .lost-info {
    font-size: 8px;
    margin-top: -80px;
    vertical-align: top;
    width: 161px;
  }
}

.card-image {
  height: 70px;
  width: 90px;
}

.silver {
  background: #e0e1e4; /* Old browsers */
  background: -moz-linear-gradient(top, #e0e1e4 0%, #d0d0d3 50%, #a6a5ab 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e0e1e4 0%, #d0d0d3 50%, #a6a5ab 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e0e1e4 0%, #d0d0d3 50%, #a6a5ab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e1e4', endColorstr='#a6a5ab', GradientType=0); /* IE6-9 */
  color: #3A586C;
  font-weight: bold;
}

.gold {
  background: #dad969; /* Old browsers */
  background: -moz-linear-gradient(top, #dad969 0%, #bea838 50%, #b59723 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #dad969 0%, #bea838 50%, #b59723 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #dad969 0%, #bea838 50%, #b59723 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dad969', endColorstr='#b59723', GradientType=0); /* IE6-9 */
  color: #3a586c;
  font-weight: bold;
}

.platinum {
  background: #a29f9a; /* Old browsers */
  background: -moz-linear-gradient(top, #a29f9a 0%, #aba6a0 50%, #bdb8b2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a29f9a 0%, #aba6a0 50%, #bdb8b2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a29f9a 0%, #aba6a0 50%, #bdb8b2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a29f9a', endColorstr='#bdb8b2', GradientType=0); /* IE6-9 */
  color: #3a586c;
  font-weight: bold;
}

.back-side {
  //float: left;
}

#render {
  width: 355px;
  height: 200px;
  margin: 50px;
  float: right;
}

#picture {
  float: right;
  height: 70px;
  width: 90px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#camera, #snapshots {
  width: 350px;
  height: 250px;
}

#take_snapshots, #upload_snapshots {
  display: inline-block;
  margin: 5px 0;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear {
  clear: both;
}

.bar-code-image {
  width: 300px;
  font-size: 13px;
  text-align: center;
  margin-top: 12px;
}