.dep-settings {
  width: 100%;
  height: 550px;
  display: table;
}

.dep-settings-table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.wrap-for-form-wizard {
  margin: auto 10%;
}

.display-block {display: block}
.display-none {display: none}