// Place all the styles related to the expense controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.compare-form {
  text-align: right;
  margin: 10px 0;
  input, select {
    max-width: 200px;
    display: inline-block;
  }
}