.content-body_feature {
  margin: auto;
  max-width: 1000px;
  background: #fdfdfd;
  margin-top: 20px;
  padding: 10px 15px;
 // border: solid 1px #D1DBE3;
  .form-vertical {
    max-width: 90%;
    margin: auto;
    padding: 20px 0 20px 0;
    label {
      font-weight: bolder;
      font-size: 15px;
      padding-bottom: 5px;
      color: #074E66;
    }
    input {
      padding-top: 5px;
      border-radius: 0;
      height: 40px;
    }
    textarea {
      border-radius: 0;
    }
  }
}

.feature-table-wrapper {
  max-width: 1250px;
}