
/* Beaccount Color Declaration */
$primary-color: #074e66;
$hover-color: #0c6a85;
$guest-color: #00BBEA;
$secondary-guest-color :#129894;
$default-background: #f7f7f7;
$white-color: #fff;
$black-color: #000;
$beaccount-table-color: #0C6A83;
$glass-color: #c9dbdc;

/* Syftet logo color */
$syftet-primary-color: #8EC641;
$syftet-ruby-color: #BB1424;
$syftet-text-color: #3A3A3A;