.attendance-settings-panel,
.leave-settings-panel,
.general-settings-panel {
  padding: 10px;
}

.dayoff_hour {
  display: none;
}

.inneer-table {
  thead {
    background: #626262 !important;
  }
}

.module-price {
  padding: 8px;
}

#module-todays-cost {
  display: none;
}

.reg-container {
  .welcome-text {
    text-align: center;
    font-size: 20px;
    color: #8f9296
  }
  .continue-form {
    text-align: center;
  }
}