.attendance-settings-panel,
.leave-settings-panel,
.general-settings-panel {
  padding: 10px;
}

.dayoff_hour {
  display: none;
}

.inneer-table {
  thead {
    background: #626262 !important;
  }
}

.module-price {
  padding: 8px;
}

#module-todays-cost {
  display: none;
}