.terms-and-condition-wrap {
  .tac-header-wrap {
    p {
      color: #333;
    }
  }
  .tac-content-wrap {
    div {
      .content-body-wrapper {
        ol {
          li {
            padding-bottom: 10px;
            text-align: justify;
          }
        }
        .online-research-services {
          li {
            padding-bottom: 10px;
            text-align: justify;
          }
        }
      }
    }
  }
}