<% if @category.errors.any? %>
popupMessage('<%= escape_javascript( errors_to_message_string(@category.errors)).html_safe %>', 'alert-danger');
<% else %>
$("#expense_category_id").append("<option value=<%= @category.id %>> <%= @category.name %></option>");
$('#expense_category_id').trigger("chosen:updated");
$('#global-modal').modal('hide');
popupMessage('Category saved successfully.', 'alert-info');
<% end %>