<div class="row reset-padding">
  <div class="content-wrapper" id="rule-content">
    <div class="header-wrapper">
      <div class="header-container clearfix">
        <h4>
          Add New Product
        </h4>
      </div>
    </div>
    <div class="content-body-wrapper secondary-color full-content-wrapper">
      <div class="text-centerx">
        <div class="content-body row mt0">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
