// Place all the styles related to the pos/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-color-span {
  display: block;
  width: 30px;
  min-height: 30px;
  min-width: 30px;
  padding: 7px;
  text-align: center;
  color: #000000;
  text-shadow: 0 0 2px #ffffff;
  -webkit-box-shadow: 0 0 3px #cccccc;
  -moz-box-shadow: 0 0 3px #cccccc;
  box-shadow: inset 0 0 3px #cccccc;
}